html,
body {
  margin: 0;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
}

section {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  padding: 30px 5 20px 0;
  position:relative;
  display:table;
}


section hr {
  width: 20%;
  margin: 20px;
  margin-left: 40%;
}
.cor_fundo {
  background: #f7f7f7;
}
/* --------  Header  -------- */

header {
  width:100%; 
  display:table; 
  position: fixed;
  z-index: 10;
  background: rgb(10, 140, 226);
  padding: 20px;
}

header #logo {
  position: relative;
  float: left;
  top: 5px;
#  height: 50px;
  margin-left: 5%;
}

header #logo img{
  max-height: 100%;
}
header .menu {
  float: right;
  list-style: none;
#  margin-top: 2px;
  margin-right: 5%;
}
header .menu li {
  float: left;
  font-size: 18px;
  padding: 20px 20px 20px 20px;
}
header .menu li a {
  color: initial;
  text-decoration: initial;
  color: white;
}
header .menu li:hover {
  background-color: #01acea;
}
/* --------  Capa  -------- */
figure {
  margin: 0 auto;
}
figure .imagem_fundo {
  background: url(../img/capa3.jpg); 
  background-size: cover;
  height: 100%;
  padding: 100px;
}

figure .titulo {
  color: #FFF;
  line-height: 0.9;
  text-shadow: 1px 1px black;
}
figure h1.titulo {
  font-size: 50px;
  letter-spacing: 3px;
  margin: 15% 20% 0% 20%;
  padding-bottom: 30px;
}
figure h2.titulo {
  padding-top: 20px;
  font-size: 30px;
  margin: 0 30% 0 30%;
  border-top: 3px solid white;
  padding-bottom: 30px;
  letter-spacing: 2px;  
}
.cta1 {
  border: 1px solid white;
  border-radius: 8px;
  color: white;
  padding: 10px 20px 10px 20px;
  text-decoration: initial;
  font-size: 20px;
}
.cta1:hover {
  background-color: #01acea;
  border: 0px;
}
/* --------  Colunas  -------- */
.coluna {
  float: left;
  padding: 0 5%;
  position: relative;
}
.coluna.quatro {
  width: 15%;
  padding: 0 5% 0 5%;
}
.coluna.tres {
  width: 29%;
  padding: 0 2%;
}
.coluna.dois {
  width: 40%;
}
.coluna .icone {
  border-radius: 50%;
  height: 95px;
  width: 95px;
  text-align: center;
  margin: 0 auto;
}
.coluna .icone img{
  max-width: 60%;
  max-height: 60%;
  margin: 15px;
}
.coluna:hover > .icone {
  background: lightblue;
}
.coluna img {
  height: 300px;
  width: 90%;
}
.coluna iframe { 
  top: 0;
  left: 0;
  width: 100%;
}
/* --------  Textos  -------- */

h1 {
  text-align: center;
  font-size: 30px;
  padding: 40px;
}

h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-size: 22px;
  padding: 15px;  
}   

h3 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-size: 16px;
  padding: 10px;  
}   
 
.esquerda {
  text-align: left;
}
.direita {
  text-align: right;
}
.centro {
  text-align: center;
}
.justificado {
  text-align: justify;
  padding: 5px;
  margin: 3px;
}
/* --------  Footer  -------- */
footer {
  background-color: rgb(10 140 226);
  width: 100%;
  margin: 30px auto;
  overflow: hidden;
  padding: 30px 0 50px 0;
  color: #fff; 
}

.link {
  color: white;
}
.link:hover {
  color: black;
}
.link2 {
  color: black;
  text-decoration: initial;  
}
.link2:hover {
  color: black;
}
 

*{text-decoration:none; list-style:none; margin:0px; padding:0px; outline:none;}

nav { 
  width:auto; 
}
nav ul { 
  display:table; 
  list-style: none;
  margin-top: 15px;
  margin-right: 5%;
  float:right;
}
nav ul li {
  float:left;
}
nav ul li:last-child { 
  padding-right:0px;
}
nav ul li a {
  color:#f1f1f1; 
  font-size:18px; 
  padding: 5px 30px; 
  display:inline-block; 
}
nav ul li a:hover {
  background-color:#002e5b; 
  color:#f1f1f1; 
  border-radius: 18px;
}

.toggle-menu ul {
  display:table; 
  width:25px;
  margin-right: 40px;
}
.toggle-menu ul li {
    width:100%; 
    height:3px; 
    background-color:#f1f1f1; 
    margin-bottom:4px;
    margin-right: 5%;
}
.toggle-menu ul li:last-child {
  margin-bottom:0px;
}

input[type=checkbox], label{display:none;}

.content{display:table; margin-bottom:60px; width:900px;}
.content h2{font-size:18px; font-weight:500; color:#002e5b; border-bottom:1px solid #fde428; display:table; padding-bottom:10px; margin-bottom:10px;}
.content p{font-size:14px; line-height:22px; color:#7c7c7c; text-align:justify;}

@media only screen and (max-width: 980px) {

.coluna, .coluna.dois, .coluna.tres, .coluna.quatro {
  display: block;
  width: 80%;
  padding: 0;
  margin: 10px auto;
  float: none;
}

header #logo {
  position: relative;
  float: left;
  top: 0px;
  height: 50px;
  margin-left: 5%;
}

.menu {
  visibility: hidden;
}
     
input[type=checkbox] {position: absolute; top: -9999px; left: -9999px; background:none;}
input[type=checkbox]:fous{background:none;}
label { 
  float:right; 
  padding:13px 0px; 
  display:inline-block; 
  cursor:pointer; 
}
input[type=checkbox]:checked ~ nav {display:block;}

nav {
  display:none; 
  position:absolute; 
  right:40px; 
  top:90px; 
  background-color:#002e5b; 
  padding:0px; 
  z-index:99;
}    
nav ul{width:auto;}
nav ul li{float:none; padding:0px; width:100%; display:table;}
nav ul li a{color:#FFF; font-size:15px; padding:10px 20px; display:block; border-bottom: 1px solid rgba(225,225,225,0.1);}
nav ul li a i{color:#fde428; padding-right:13px;}

nav ul li a:hover {
  background-color:#002e5b; 
  color:#f1f1f1; 
}
   
}